body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f4f8;
  color: #222;
  padding: 16px;
}
/* dark theme*/
body.dark { background: #111; color: #e9ffe9; }

/* smooth movement for Boxman */
#boxman {
  transition: left .25s ease, top .25s ease, transform .18s ease;
  will-change: left, top, transform;
}

/* smooth movement for Boxman, like he is jumping */
#boxman.boop { transform: scale(1.08); }
